.registration {
    @extend %center;
    padding-top: 64px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 128px;

    .form {
        &__title {
            padding-bottom: 20px;
            color: $colorContent;
            font-size: $sizeAverage;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__item {
            margin-bottom: 20px;
            padding: 14px 0px 14px 17px;
            width: 360px;
            font-size: 13px;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__radio {
            @extend %flex-centr;
            align-items: flex-start;
            gap: 10px;
            padding-top: 14px;
            color: $colorContent;
            font-size: 11px;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;

            input[type='radio']:after {
                position: relative;
                background-color: #d1d3d1;
                border: 1px solid #A4A4A4;
            }

            input[type='radio']:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: $colorSelectStyle;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid #A4A4A4;
            }

            .radio__label {
                padding-right: 10px;
            }
        }

        .title__details {
            padding-top: 34px;
        }

        &__text {
            margin-top: -5px;
            max-width: 360px;
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__button {
            @extend %flex-centr;
            gap: 20px;
            color: $colorBackgroundWite;
            font-size: $sizeSmall;
            font-style: normal;
            font-weight: $weightRegular;
            line-height: normal;
            margin-top: 39px;
            padding: 16px 46px 16px 29px;
            background: $colorSelectStyle;
            border-color: $colorSelectStyle;
            transition: all $transitionSelectSite;
        }

        &__button:hover {
            background: $colorBackgroundWite;
            color: $colorSelectStyle;
            border-color: $colorSelectStyle;

            .form__button__img__color {
                fill: $colorSelectStyle;
            }
        }

        &__button:active {
            background: $colorSelectStyle;
            color: $colorBackgroundWite;
            border-color: $colorSelectStyle;

            .form__button__img__color {
                fill: $colorBackgroundWite;
            }
        }
    }

    .information {
        &__text {
            padding-bottom: 21px;
            width: 652px;
            color: $colorContent;
            font-size: 24px;
            font-style: normal;
            font-weight: $weightLight;
            line-height: normal;
        }

        &__list {
            list-style-type: none;
            padding-bottom: 16px;
        }

        &__img {
            padding-right: 22px;
        }
    }
}

// Nest Hub Max
//  Для страницы product
@media (max-width: 1280px) {
    .registration {
        padding-left: calc(50% - $widthSiteNest/2);
        padding-right: calc(50% - $widthSiteNest/2);
        flex-wrap: nowrap;
        gap: 55px;
    }

    .information {

        .information__text {
            width: 600px;
            font-size: 20px;
        }

        .list {
            padding-left: 0px;

            &__from {
                padding-left: 45px;
            }
        }


    }
}

/* Стили для планшета */
//  Для страницы registration
@media (max-width: 1024px) {
    .registration {
        padding-left: calc(50% - $widthSitetTablet/2);
        padding-right: calc(50% - $widthSitetTablet/2);
        flex-wrap: nowrap;
        gap: 23px;

        .information {

            .list {
                padding-left: 0px;

                &__from {
                    padding-left: 45px;
                }
            }

            &__text {
                width: 354px;
                font-size: 16px;
            }
        }
    }
}

/* Стили для среднего телефона */
//  Для страницы registration
@media (max-width: 767px) {
    .registration {
        padding-left: calc(50% - $widthSitetAveragePhone/2);
        padding-right: calc(50% - $widthSitetAveragePhone/2);
        flex-wrap: wrap;
        gap: 40px;
        padding-bottom: 100px;
    }
}