$colorSelectStyle: #F16D7F;
$widthSite: 1140px;
$widthSiteNest: 940px;
$widthSitetTablet: 734px;
$widthSitetAveragePhone: 359px;
$widthSitetSmallPhone: 320px;
$colorContent: #222222;
$gapGrid: 30px;
$colorBackgroundWite: #FFF;
$colorTextContent: #FBFBFB;
$colorCatalog: #E5E5E5;
$colorSubtextContent: #5D5D5D;
// $colorContentCotalog: #636363;
$marginNone: 0;
$paddingNone: 0;
$transitionSelectSite: 0.4s;
$weightLight: 300;
$weightRegular: 400;
$weightBold: 700;
$weightBlack: 900;
$sizeSmall: 14px;
$sizeAverage: 16px;
$lineHeight: 16.8px;
$lineHeightAverage: 19px;
$lineHeightPercent: 167.2%;
$displayNone: none;
$justifyContentCenter: center;